<div class="card-container">
  <mat-card>
    <mat-vertical-stepper linear #stepper>
      <mat-step [stepControl]="registerPhoneForm">
        <form [formGroup]="registerPhoneForm">
          <ng-template matStepLabel>Phone Verification</ng-template>
          <mat-form-field>
            <mat-label>Name</mat-label>
            <input matInput placeholder="Name" formControlName="name" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Mobile number</mat-label>
            <input matInput placeholder="Mobile Number" formControlName="phone" required />
          </mat-form-field>

          <mat-form-field *ngIf="isOtpFieldVisible">
            <mat-label>One Time Password (OTP)</mat-label>
            <input matInput placeholder="OTP" formControlName="otp" required />
          </mat-form-field>
          <div fxLayout="row" fxLayoutGap="1em">
            <button mat-button *ngIf="isVerifyPhoneBtnVisible" (click)="verifyPhone()">Verify Phone</button>
            <button mat-button *ngIf="isSendOtpBtnVisible" (click)="registerPhone()"
              [disabled]="isSendOtpBtnDisabled">Send OTP</button>
            <button mat-raised-button *ngIf="isRegisterEmailBtnVisible" color="primary" matStepperNext>Register
              Email</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="registerEmailForm">
        <form [formGroup]="registerEmailForm">
          <ng-template matStepLabel>Email Verification</ng-template>
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" required />
          </mat-form-field>

          <mat-form-field *ngIf="isEmailCodeFieldVisible">
            <mat-label>Email Verification Code</mat-label>
            <input matInput placeholder="Email Verification Code" formControlName="emailVerificationCode" required />
          </mat-form-field>

          <div fxLayout="row" fxLayoutGap="1em">
            <button mat-button (click)="verifyEmail()" *ngIf="isVerifyEmailBtnVisible"
              [disabled]="isVerifyEmailBtnDisabled">Verify Email</button>
            <button mat-button (click)="registerEmail()" *ngIf="isSendEmailBtnVisible"
              [disabled]="isSendEmailBtnDisabled">Send Verification Email</button>
            <button mat-raised-button matStepperNext color="primary" *ngIf="isRegisterCanteenBtnEnabled">Register Canteen</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="registerCanteenForm">
        <form [formGroup]="registerCanteenForm">
          <ng-template matStepLabel>Canteen Registration</ng-template>
          <mat-form-field>
            <mat-label>Canteen ID</mat-label>
            <input matInput placeholder="Canteen ID" formControlName="canteenId" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Enter Password</mat-label>
            <input matInput placeholder="Enter Password" formControlName="password" type="password" required />
          </mat-form-field>

          <mat-form-field>
            <mat-label>Re-enter Password</mat-label>
            <input matInput placeholder="Re-enter Password" formControlName="retypePassword" type="password" required />
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" (click)="registerCanteen()">Register</button>
          </div>
        </form>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
</div>