/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.avatar-image {
    background-image: url('/assets/missing_avatar.png');
    background-size: cover;
}

.full-width {
    width: 100%;
}
