<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary">Canteen</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/login" *ngIf="!isLoggedIn">Login</a>
      <a mat-list-item routerLink="/register" *ngIf="!isLoggedIn">Register</a>
      <a mat-list-item routerLink="/survey" *ngIf="isLoggedIn">Canteen Survey</a>
      <a mat-list-item (click)="logout()" *ngIf="isLoggedIn">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div fxFlex="100"></div>
      <ng-container *ngIf="isLoggedIn">
        <img
          mat-card-avatar
          [matMenuTriggerFor]="menu"
          [src]="avatar"
          *ngIf="avatar">
        <div
          mat-card-avatar
          [matMenuTriggerFor]="menu"
          class="avatar-image pointer"
          *ngIf="!avatar"></div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">Logout</button>
        </mat-menu>
      </ng-container>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
