<div class="card-container">
  <mat-card>
    <form [formGroup]="surveyForm" *ngIf="loggedIn">
      <mat-card-header>
        <mat-card-title> Survey Form </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="" formControlName="name" required/>
          <mat-error *ngIf="surveyForm.controls.name.errors?.required">
            Please enter name.
          </mat-error>
          <mat-error *ngIf="surveyForm.controls.name.errors?.pattern">
            Invalid name.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mobile number</mat-label>
          <input matInput placeholder="" formControlName="phone" required readonly/>
          <mat-error *ngIf="surveyForm.controls.phone.errors?.required">
            Please enter phone number.
          </mat-error>
          <mat-error *ngIf="surveyForm.controls.phone.errors?.pattern">
            Invalid number.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Landline</mat-label>
          <input matInput placeholder="" formControlName="landline" />
          <mat-error *ngIf="surveyForm.controls.landline.errors?.pattern">
            Invalid number.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Mode of Digital Payment</mat-label>
          <mat-select formControlName="paymentMethods" multiple required>
            <mat-option
              *ngFor="let paymentMethod of paymentMethods"
              [value]="paymentMethod"
            >
              {{ paymentMethod }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Number of POS machines</mat-label>
          <mat-select formControlName="numberPos" required>
            <mat-option *ngFor="let count of posCountSelect" [value]="count">
              {{ count }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="surveyForm.controls.numberPos.errors?.required">
            Please enter a number.
          </mat-error>
          <mat-error *ngIf="surveyForm.controls.numberPos.errors?.pattern">
            Invalid number.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Year when POS machines were installed</mat-label>
          <mat-select formControlName="years" required>
            <mat-option *ngFor="let year of years" [value]="year">
              {{ year }}</mat-option
            >
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Bank who provided POS machines to URC</mat-label>
          <mat-select formControlName="posBank" required>
            <mat-option *ngFor="let bank of banks" [value]="bank">
              {{ bank }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="surveyForm.controls.posBank.errors?.required">
            Please enter Bank name.
          </mat-error>
          <mat-error *ngIf="surveyForm.controls.posBank.errors?.pattern">
            Invalid Bank name.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>URC Bank Account</mat-label>
          <mat-select formControlName="urcBank" required>
            <mat-option *ngFor="let bank of banks" [value]="bank">
              {{ bank }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label
            >Percentage of Payment taken in digital method from
            Beneficiary</mat-label
          >
          <input matInput placeholder="" formControlName="digitalPercent" required/>
          <mat-error *ngIf="surveyForm.controls.digitalPercent.errors?.required">
            Please enter a number.
          </mat-error>
          <mat-error *ngIf="surveyForm.controls.digitalPercent.errors?.pattern">
            Invalid percentage.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label
            >Percentage of Payment taken in cash method from
            Beneficiary</mat-label
          >
          <input matInput placeholder="" formControlName="cashPercent" required/>
          <mat-error *ngIf="surveyForm.controls.cashPercent.errors?.required">
            Please enter a number.
          </mat-error>
          <mat-error *ngIf="surveyForm.controls.cashPercent.errors?.pattern">
            Invalid percentage.
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Name of the dependent Depot</mat-label>
          <mat-select formControlName="depotName" required>
            <mat-option *ngFor="let depot of depots" [value]="depot">
              {{ depot }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <button *ngIf="!isAddDisabled" mat-raised-button color="primary" [disabled]="!surveyForm.valid" (click)="addEntry()">
          Add Entry
        </button>
        <button *ngIf="isAddDisabled" mat-raised-button color="primary" [disabled]="!surveyForm.valid" (click)="updateEntry()">
          Update Entry
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
